
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Home Index Page</h1>
    </div>
    @{ 
        int sayi = 1;
        DateTime tarih = DateTime.Now;
    }
    <p>@sayi.ToString()</p>
    <span>Bugünün tarihi:@tarih</span>
</body>
</html>
