
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<div class="row">
    <div class="col-lg-12">
        <div>
          
            <span>2001 yılından beri</span> Türkiye’de online alışverişin en güçlü ismiyiz. Kurduğumuz hayaller ve ulaştığımız hedeflerle bugünlere ulaştık. Online alışverişi geliştirdik, hizmet anlayışımızla fark yarattık. Hem çok büyüdük hem çok sevildik!  <br><br>
            Bugün Türkiye’de online alışverişin lideri olarak;<span> 30 kategoride 12,7 milyonun üzerinde ürünümüzle</span> e-ticareti Türk insanına sevdirmekle kalmadık, vazgeçilmeze dönüştürdük.<br><br>

            Yıllar içinde pek çok ödüle layık görüldük. <span>2011, 2012 ve 2013 yıllarında</span> Türkiye’nin en sevilen markası, <span>2013 yılında</span> ise Yılın E-ticaret Sitesi seçildik.  <br><br>

            Bugün Türkiye’de online alışverişin lideri olarak; üyelerimize nerede olurlarsa olsunlar, en iyi ürünü en uygun fiyatla ulaştırmak için çalışıyoruz. Büyümeye ve e-ticareti büyütmeye devam ediyoruz.<br><br>

            <b>Her zaman bizi tercih ettiğiniz için teşekkür ederiz, iyi alışverişler dileriz.</b><br><br>

            <b> İş Sağlığı Güvenliği ve Çevre Politikamız için <a href="https://www.hepsiburada.com/is-sagligi-ve-guvenligi-cevre-politikamiz" target="_blank" style="color:#f28b00; text-decoration:underline;">buraya</a> tıklayınız.</b>

        </div>
    </div>
</div>

